body{
  background-color: black;
  overflow: hidden;
  color:white;
  font-family: sans-serif;
  font-size: 16px;
}
h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
}

.center{
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.planet, .orbit, .star{
  border-radius: 50%;
}

.planet{
  top:0;
  left:50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: blue;
  position: absolute;
}

.orbit{
  border:1px solid #444;
  height: 100%;
  width: 100%;
  animation: 4s spin linear infinite;
}


#sun{
  background-image: radial-gradient(orange 20%, yellow);
  box-shadow: 0 0 25px yellow;
  width: 100px;
  height: 100px;
  animation: 500ms linear infinite alternate twinkle;
}
#mercury{
  height: 150px;
  width: 150px;
}

#mercury .orbit{
  animation-duration: 1s;
}

#mercury .planet{
  width: 5px;
  height: 5px;
  background-color: green;
}
#venus{
  height: 200px;
  width: 200px;
}

#venus .orbit{
  animation-duration: 2s;
}
#venus .planet{
  width: 7px;
  height: 7px;
  background-color: purple;
}
#earth{
  height: 250px;
  width: 250px;
}

#earth .planet{
  width: 15px;
  height: 15px;
  background-image: radial-gradient(lightblue 15%, blue 50%);
}
#mars{
  height: 300px;
  width: 300px;
}
#mars .orbit{
  animation-duration: 3200ms;
}
#mars .orbit{
  transform: rotate(20deg);
}
#mars .planet{
  width: 12px;
  height: 12px;
  background-color: red;
}
#jupiter{
  height: 380px;
  width: 380px;
}
#jupiter .orbit{
  animation-duration: 4500ms;
}
#jupiter .planet{
  width: 35px;
  height: 35px;
}
#saturn{
  height: 480px;
  width: 480px;
}
#saturn .orbit{
  animation-duration: 6s;
}
#saturn .planet{
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
}
#uranus{
  height: 580px;
  width: 580px;
}
#uranus .orbit{
  animation-duration: 12s;
}
#uranus .planet{
  width: 28px;
  height: 28px;
  background-color: teal;
}
#neptun{
  height: 680px;
  width: 680px;
}
#neptun .orbit{
  animation-duration: 20s;
}
#neptun .planet{
  width: 25px;
  height: 25px;
}


@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes twinkle{
  from {
    box-shadow: 0 0 15px yellow;
  }

  to{
    box-shadow: 0 0 35px orange;
  }
}
